<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" [routerLinkActive]="'active'">Testing</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" [routerLink]="['/main']" [routerLinkActive]="'active'">/ Home</a>
          <a class="nav-link" [routerLink]="['/business-insight']">/ Business Insight</a>
          <a class="nav-link" [routerLink]="['/report']" [routerLinkActive]="'active'">/ Report</a>
          <a class="nav-link" [routerLink]="['/member']" [routerLinkActive]="'active'">/ Member</a>
        </div>
      </div>
    </div>
  </nav>
